@use "@app/styles/breakpoints";

$hero-mobile-height: 576px;
$hero-desktop-height: 750px;

.hero {
  &__section {
    width: 100%;
    height: $hero-mobile-height;
    background-color: #000;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("./assets/images/bg.png");
    background-size: auto 100%;
    background-position: center;

    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 12px;
  }

  &__content {
    margin-bottom: calc($hero-mobile-height/9.9);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  &__subheading {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 43px;

    li {
      display: flex;
      gap: 15px;
      font-size: 14px;
      line-height: 1.2;
    }

    &__marker {
      width: 15px;
      height: 15px;
    }

    &__highlight {
      color: var(--brand-color);
    }
  }

  &__button {
    color: var(--dark-gray);
    border-radius: 40px;
    padding: 17px 15px;
    background-color: var(--brand-color);
    font-size: 15px;
    font-weight: 500;
  }
}

@media (min-width: breakpoints.$lg) {
  .hero {
    &__section {
      height: $hero-desktop-height;
      background-size: 1600px auto;
    }

    &__content {
      margin-bottom: calc($hero-desktop-height/6.4);
    }

    &__heading {
      font-size: 70px;
      margin-bottom: 5px;
    }

    &__subheading {
      font-size: 22px;
      margin-bottom: 20px;
    }

    &__list {
      margin-bottom: 30px;

      li {
        gap: 14px;
        font-size: 16px;
        line-height: 1;
      }

      &__marker {
        width: 22px;
        height: 22px;
      }
    }

    &__button {
      padding: 20px 25px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}