@use "@app/styles/breakpoints";

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 12px;
  flex-wrap: wrap;
  border: 1px solid grey;
  color: #39373A;
  font-weight: 500;

  &__header-open {
    height: 100vh;
  }

  &__logo-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 132px;
    padding: 7px 0;
  }

  &__burger {
    display: block;
    line-height: 1;
  }

  &__nav {
    background: #fff;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 24px;
  }

  &__nav-open {
    display: flex;
    margin-top: 17px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
  }

  &__nav-list-item {
    font-size: 16px;
  }

  &__cta {
    text-decoration: none;
    color: inherit;
    padding: 12px 27px;
    border-radius: 40px;
    background-color: #FFCC29;
  }
}

@media (min-width: breakpoints.$lg) {
  .header {
    flex-direction: row;
    padding-inline: 60px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 108px;

    &__logo-wrapper {
      width: auto;
    }

    &__logo {
      width: 150px;
      padding: 27px 0;
    }

    &__burger {
      display: none;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__nav-list {
      flex-direction: row;
      gap: 32px;
      align-items: center;
      height: 100%;
      margin: 0 auto;
    }

    &__cta {
      font-size: 18px;
      padding: 16px 44px;
    }
  }
}

@media (min-width: breakpoints.$xl) {
  .header {
    &__nav-list {
      gap: 68px;
    }
  }
}